# Ignore data files
data/
*.csv
*.json
*.xlsx
*.hdf5
eda_files/
*.png
#*.jpg

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter Notebook outputs
*.ipynb~

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore package managers files
*.log


# Ignore Markdown files and reports
#*.md
#.pdf
*.html
